* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  /* Background */
  --background-primary: #14151d;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  /* Border */
  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  /* Accent */
  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  /* Typography */
  --font-family-title: "Inter Tight", sans-serif;
  --font-family-text: "Inter", sans-serif;

  --title: 700 1.5rem/2rem var(--font-family-title);

  --ph-medium: 500 0.875rem/1.5rem var(--font-family-text);
  --ph-small: 500 0.75rem/1rem var(--font-family-text);

  --label-large: 700 1rem/1.5rem var(--font-family-text);
  --label-medium: 700 0.875rem/1.5rem var(--font-family-text);
  --label-small: 700 0.75rem/1rem var(--font-family-text);

  --link: 500 0.75rem/1rem var(--font-family-text);
}

body {
  width: 100%;
  min-height: 100dvh;
  position: relative;

  background-color: var(--background-primary);
  color: var(--content-primary);
  font: var(--ph-medium);

  padding-bottom: 2.5rem;
}

button, a, input, select, textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

.hidden {
  display: none;
}
