#logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: .25rem;
  z-index: 3;

  background-color: #2E2C30;
  padding: .75rem 1.25rem;
  border-bottom-right-radius: .75rem;

  font: var(--label-large);
  color: var(--content-brand);
  text-transform: uppercase;
}